/********************************************************************/
/****************************GENERAL*********************************/
/********************************************************************/

html, body {
    height:100%;
    margin:0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family:"Raleway";
    font-size:17px;
    color:#424242;
    background: #FFFFFF;
    font-weight : 400;
}
img {
    max-width: 100%;
    height: auto;
}
*{
    margin:0;
    padding:0;
}
.clear{
    clear:both;
}
h2{
    font-size: 32px;
    color: #424242;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 600;
}
h3{
    font-size: 22px;
    color: #FFF;
    font-weight: 500;
}
h4{
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    padding-top: 5px;
}
ul li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
    transition: .45s ease-in-out;
   -moz-transition: .45s ease-in-out;
   -webkit-transition: .45s ease-in-out;
    letter-spacing: 0px;
    cursor: pointer;
}
a:hover{
    border-bottom: 1px dashed #01b0ff;
    color : #01b0ff;
}
p{
    line-height: 25px;
}
section{
    padding: 42px 0;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
}
section:first-child{
}
section:last-child{
    border:none;
}
.underlined{
    border-bottom: 1px dashed #424242;
    font-weight: 600;
}
.uppercase{
    text-transform: uppercase;
}
#left-col{
    height:100%;
    background:#364050;
    width:25%;
    text-align: center;
    position: fixed;
}
#center-left{
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    padding: 20px;
    font-size:20px;
    color : white;
}
#right-col{
    background:#FFF;
    width:75%;
    float:right;
    text-align: left;
    padding: 0 50px;
    position: relative;
}
#left-col h2{
    color:white;
}
#logo{
    width:230px;
    height: 45px;
    margin : 0 auto;
    background: url('../images/logo-in-menu.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

}
#photoRaph{
    width:200px;
    height: 200px;
    margin: 30px auto;
}

#icons{
    margin-top : 75px;
    text-align: center;
}
#icons .iconify{
    font-size: 42px;
    padding: 0 4px;
}
#icons a{
    padding-bottom: 4px;
    margin : 0 10px;
}
#menu {
    position: fixed;
    background: #FFF;
    top:0;
    width:100%;
    border-top : 1px solid #D8D8D8;
    border-bottom : 1px solid #D8D8D8;
    z-index: 9999;
}
#menu a{
    margin : 0 10px;
    line-height: 40px;
    display: inline-block;
}
#menuLink{
    display: none !important;
}
#menuDesk{
    display: block;
}
#icons a:hover{
    color:white;
}
#wrapping-right{
    max-width: 1000px;
    padding-top: 42px;
}
#wrapping-right a{
    border-bottom: 1px dashed #424242;
}
#wrapping-right a:hover{
    border-color: #01b0ff;
}
/********************************************************************/
/**************************FIN GENERAL*******************************/
/********************************************************************/

#about-me p{
    padding : 5px 0;
}

/********************************************************************/
/******************************DEBUT EVENT***************************/
/********************************************************************/

.single-event{
    margin: 10px 0;
    line-height: 25px;
    position: relative;
    display: inline-block;
}
.date-event{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left : 0px;
    width: 115px;
    text-align: center;
}
.text-event{
    border-left: 1px solid #929292;
    padding-left:15px;
    margin-left: 125px;
}
.text-event-nodate{
    border-left: 1px solid #929292;
    padding-left:15px;
}
.text-event h4, .text-event-nodate h4 {
    font-size: 20px;
    padding: 0 0 2px 0;
    color:#424242;
    font-weight: 600;
}
.text-event p, .text-event-nodate p{
    padding: 0;
}
#latest-news .single-event:last-child, #latest-news .single-event:last-child .text-event{
    margin-bottom: 0;
}
#teaching .single-event:last-child, #teaching .single-event:last-child .text-event{
    margin-bottom: 0;
}
#experience .single-event:last-child, #experience .single-event:last-child .text-event{
    margin-bottom: 0;
}
#projects .single-event:last-child, #projects .single-event:last-child .text-event-nodate{
    margin-bottom: 0;
}
.single-publi{
    margin: 15px 0 20px 0;
}
.publi_button{
  height: 30px;
  border: 1px solid !important;
  padding:5px;
  margin-right:10px;
  text-align: center;
}
.buttons_space{
  margin-top: 10px;
}
.text-event-nodate .bibtexentry:last-child .single-publi{
    margin-bottom: 0px;
}
.text-event-nodate .bibtexentry:first-child .single-publi{
    margin-top: 5px;
}
span.Raphael.Poulain{
  font-weight:600;
}
.bibtexraw{
  display: none;
}
/********************************************************************/
/**************************FIN EVENT*********************************/
/********************************************************************/

#pdf{
    height: 95%;
    width: 100%;
    top:0;
    left:0;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
}

.modal-header {
    padding: 2px 16px;
    background-color: #364050;
}
.modal-header h2{
    color: #FFFFFF !important;
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: 1px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #FFFFFF;
    margin: 2.5% auto; /* 15% from the top and centered */
    border: 1px solid #364050;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 90%;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}
#rawbib{
  overflow: auto;
  border: 1px solid #929292;
  padding: 10px;
}
.citecontent {
    background-color: #FFFFFF;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    border: 1px solid #364050;
    width: 750px; /* Could be more or less, depending on screen size */
    height: auto;
}


.modal-footer{
  width: 100%;
  text-align: center;
  margin-top:20px;
}
.modal-body-cite{
  padding:25px;
}
.copy_button{
  height: 30px;
  width:160px;
  border: 1px solid !important;
  padding:5px;
  margin-right:10px;
  text-align: center;
  display: inline-block;
  background-size: 200% 200%;
  background-image: linear-gradient(to right, #01b0ff 50%, white 0);
  background-position: right;
  transition: 0.45s, background-position 0.25s ease-in-out;
  -moz-transition: 0.45s, background-position 0.25s ease-in-out;
  -webkit-transition: 0.45s, background-position 0.25s ease-in-out;
}

.copy_button:focus{
  background-position: left;
  color:white;
}
.copy_button:after       { content:'Copy to Clipboard'; }
.copy_button:focus:after { content:'Copied!'; }

.modal-body{
    width: 100%;
    height: 100.6%;
}

/* The Close Button */
.close {
    color: #FFFFFF;
    float: right;
    font-size: 33px;
    font-weight: 600;
    padding: 5px 0;
    transition: .45s ease-in-out;
   -moz-transition: .45s ease-in-out;
   -webkit-transition: .45s ease-in-out;
}

.close:hover,
.close:focus {
    color: #01b0ff;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
#footer{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}

#chevron-footer{
    background: url('../images/chevron-top.png') no-repeat;
    width:42px;
    height: 34px;
    margin: 0 auto 20px auto;
    cursor: pointer;
}
