@media only screen and (max-width: 1000px) {
    #left-col, #right-col{
        width: 100%;
        float: none;
        position: relative;
        overflow: hidden;
        height: auto;
    }
    #left-col{
        padding: 122px 0 20px 0;
    }
    #center-left{
        width: 100%;
        top: 0;
        -ms-transform: none;
        transform: none;
        position: relative;
        padding: 0;
    }
    #menu{
        left : 0;
        border:none;
    }
    #menuLink{
        display: block !important;
        position: relative;
    }
    #menuDesk{
        display: none;
    }
    #menuDesk a, #menu a{
        width: 100%;
        border-bottom: 1px solid #D8D8D8;
        text-align: center;
        display: block;
        line-height: 100px;
        font-size:3em;
        margin: 0;
    }
    #wrapping-right{
        padding-top:0;
    }

    .single-event{
        width:100%;
        margin: 10px 0;
    }
    .date-event{
        top: 0;
        -ms-transform: none;
        transform: none;
        position: relative;
        margin-bottom: 15px;
    }
    .text-event{
        margin-left:0;
        margin-bottom: 15px;
        padding: 10px 0 10px 15px;
    }
    .single-publi{
      margin:10px 0 25px 0;
    }
    .text-event-nodate{
        margin-bottom: 30px;
        padding: 10px 0 10px 15px;
    }
    p{
        line-height: 35px;
    }
    h2{
        padding-bottom: 30px;
    }
    .text-event h4, .text-event-nodate h4 {
        padding: 0 0 10px 0;
    }
    #latest-news .single-event:last-child, #latest-news .single-event:last-child .text-event{
        margin-bottom: 0;
    }
    #teaching .single-event:last-child, #teaching .single-event:last-child .text-event{
        margin-bottom: 0;
    }
    #experience .single-event:last-child, #experience .single-event:last-child .text-event{
        margin-bottom: 0;
    }
    #projects .single-event:last-child, #projects .single-event:last-child .text-event-nodate{
        margin-bottom: 0;
    }
    #menuHamburger{
        right: 50px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        color : #364050;
        line-height: 1px;
    }
    #menuClose {
        display: none;
    }
    #menuOpen {
        display: inline;
    }
}
@media only screen and (min-width: 1000px) {
    #menuDesk{
        display: block !important;
    }
}
